.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons a {
    margin-right: 10px;
  }

  .navbar {
    background-color: #727274;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f8f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }

  .content {
  background-color: beige;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 200px;
    padding: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
  }

  p {
    text-align: center;
    margin-top: 10px;
  }
  
  p a {
    margin-left: 10px;
  }