<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/scheduler">Scheduler</a>
    <a href="/login">Login</a>
  </div>

  <!-- Content section -->
  <div class="content">
    {% block content %}
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endblock %}
  </div>
</body>
</html>