{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Home{% endblock %}
</head>
{% block content %}

<div class="container">
    <div class="box">
      <h2>Welcome to the Scheduler!</h2>
      <p>Please sign up or sign in to access your dashboard.</p>
      <div class="buttons">
        <a href="{{ url_for('signup') }}" class="btn btn-primary">Sign Up</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Sign In</a>
      </div>
    </div>
  </div>

</body>
{% endblock %}
</html>