{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Scheduler{% endblock %}
</head>
<body>
  {% block content %}
  <h1>Create Your Schedule</h1>
  <form method="POST" action="{{ url_for('scheduler') }}">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Time</th>
          <th>Text</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="line-items">
        <tr>
          <td>
            <input type="text" name="title" required>
          </td>
          <td>
            <select name="time[]" required>
              {% for time in times %}
              <option value="{{ time }}">{{ time }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input type="text" name="text[]" required>
          </td>
          <td>
            <button type="button" onclick="removeLine(this)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" onclick="addLine()">Add Line</button>
    <button type="submit">Submit</button>
  </form>
  
  <script>
    function addLine() {
      var lineItems = document.getElementById('line-items');
      var row = document.createElement('tr');
      row.innerHTML = `
        <td></td>
        <td>
          <select name="time[]" required>
            {% for time in times %}
            <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input type="text" name="text[]" required>
        </td>
        <td>
          <button type="button" onclick="removeLine(this)">Remove</button>
        </td>
      `;
      lineItems.appendChild(row);
    }
  
    function removeLine(button) {
      var row = button.parentNode.parentNode;
      row.remove();
    }
  </script>

  

      <a href="{{ url_for ( 'dashboard' )}}">Press here to return to Dashboard!</a>
      <br>
      <a href="{{ url_for ( 'logout' )}}">Press here to logout!</a>
</body>
{% endblock %}
</html>